services:
  #==========#
  # Database #
  #==========#
  # FlorAccess Database #
  floraccess-db:
    build:
      context: ./FlorAccess_server/Database
      dockerfile: Dockerfile

  # Econoris Database #
  econoris-db:
    build:
      context: ./Econoris_server/Database
      dockerfile: Dockerfile
  
  # FlollyList Database #
  flollylist-db:
    build:
      context: ./FlollyList_server/Database
      dockerfile: Dockerfile


  #========#
  # Server #
  #========#
  # FlorAccess Server #
  floraccess-server:
    image: node:lts-alpine
    volumes:
      - ./FlorAccess_server:/app/
      - ./FlorAccess_server/node_modules:/app/node_modules
    command: ["npm", "run", "dev"]
    tmpfs:
      - /app/src/swagger/json:rw,uid=1800,gid=1800

  # Econoris Server #
  econoris-server:
    image: node:lts-alpine
    volumes:
      - ./Econoris_server:/app/
      - ./Econoris_server/node_modules:/app/node_modules
    command: ["npm", "run", "dev"]
    tmpfs:
      - /app/src/swagger/json:rw,uid=1800,gid=1800
  
  # FlollyList Server #
  flollylist-server:
    image: node:lts-alpine
    volumes:
      - ./FlollyList_server:/app/
      - ./FlollyList_server/node_modules:/app/node_modules
    command: ["npm", "run", "dev"]
    tmpfs:
      - /app/src/swagger/json:rw,uid=1800,gid=1800


  #==========#
  # Web apps #
  #==========#
  # Econoris App Web #
  econoris-app-web:
    image: nginx:stable-alpine
    volumes:
      - ./econoris_app/build/web:/usr/share/nginx/html/
      - ./econoris_app/nginx.conf:/etc/nginx/conf.d/default.conf
    command: ["nginx", "-g", "daemon off;"]
    working_dir: /app
    environment:
      - FLUTTER_ENV=dev

  # FlollyList App Web #
  flollylist-app-web:
    image: nginx:stable-alpine
    volumes:
      - ./flollylist_app/build/web:/usr/share/nginx/html/
      - ./flollylist_app/nginx.conf:/etc/nginx/conf.d/default.conf
    command: ["nginx", "-g", "daemon off;"]
    working_dir: /app
    environment:
      - FLUTTER_ENV=dev