services:
  #==========#
  # Database #
  #==========#
  # FlorAccess Database #
  floraccess-db:
    build:
      context: ./FlorAccess_server/Database
      dockerfile: Dockerfile

  # Econoris Database #
  econoris-db:
    build:
      context: ./Econoris_server/Database
      dockerfile: Dockerfile
  
  # FlollyList Database #
  flollylist-db:
    build:
      context: ./FlollyList_server/Database
      dockerfile: Dockerfile


  #========#
  # Server #
  #========#
  # FlorAccess Server #
  floraccess-server:
    build:
      context: ./FlorAccess_server
      dockerfile: Dockerfile
    volumes:
      - ./FlorAccess_server:/app/
      - ./FlorAccess_server/node_modules:/app/node_modules
    command: ["npm", "run", "dev"]
    tmpfs:
      - /app/src/swagger/json:rw,uid=1800,gid=1800

  # Econoris Server #
  econoris-server:
    build:
      context: ./Econoris_server
      dockerfile: Dockerfile
    volumes:
      - ./Econoris_server:/app/
      - ./Econoris_server/node_modules:/app/node_modules
    command: ["npm", "run", "dev"]
    tmpfs:
      - /app/src/swagger/json:rw,uid=1800,gid=1800
  
  # FlollyList Server #
  flollylist-server:
    build:
      context: ./FlollyList_server
      dockerfile: Dockerfile
    volumes:
      - ./FlollyList_server:/app/
      - ./FlollyList_server/node_modules:/app/node_modules
    command: ["npm", "run", "dev"]
    tmpfs:
      - /app/src/swagger/json:rw,uid=1800,gid=1800


  #==========#
  # Web apps #
  #==========#
  econoris-app-web:
    build:
      context: ./econoris_app
      dockerfile: Dockerfile
    volumes:
      - ./econoris_app/build/web:/usr/share/nginx/html/
    command: ["nginx", "-g", "daemon off;"]
    working_dir: /app
    environment:
      - FLUTTER_ENV=dev